<section id="stream">

<% if @user != nil %>

	<%= render :partial => "_shared/profile", :locals => {:user => @user} %>
	<% end %>
	
	
	
	<div id="stream-wrap">
	
		<section id='how-it-works'>
			<h1><%= t("how.whats_shaipz") %></h1>
			<div class="youtube">
				<iframe width="450" height="300" src="http://www.youtube.com/embed/f4zwYhjYuiQ" frameborder="0" allowfullscreen></iframe>
			</div>
			<br/>

			<h1><%= t("footer.how_it_works") %>?</h1>

			<h2><%= t("how.place") %> : <i><%= t("how.place_baseline") %></i></h2>
			<p><%= t("how.instead") %> <b><%= t("how.whole_building") %></b> <%= t("how.once_found") %></p>
			<%= link_to t("how.create_call"), new_project_path %>

			<h2><%= t("how.people") %></h2>
			<p><%= t("how.share") %><b><%= t("how.can_join") %></b></p>
			<p><%= t("how.reach_minimum") %> <b><%= t("how.collaborate") %></b> <%= t("how.achieve") %> <b><%= t("how.terms") %></b> <%= t("how.terms_example") %>.</p>
			<%= link_to t("how.create_call"), new_project_path %>

			<h2><%= t("how.happenings") %></h2>
			<p><%= t("how.negotiate") %> <b><%= t("how.global_offer") %></b>, <%= t("how.then") %> <b><%= t("how.divide") %></b> <%= t("how.in_several_apart") %> <b><%= t("how.deed") %></b> <%= t("how.recognize") %>.</p>
			<p><%= t("how.this_way") %>, <b><%= t("how.own_apart") %></b>, <%= t("how.previously_agreed") %></p>
			<%= link_to t("how.join"), stream_path %> <%= t("how.or") %> <%= link_to t("how.create_call"), new_project_path %>.
			<h1><%= t("how.questions") %></h1>
			<p><%= t("how.ask_questions") %></p>
			<p><%= t("how.shy") %> <b><%= t("how.email") %></b> <%= t("how.email_at") %> <%= link_to "hello@Shaipz.com", "mailto:hello@Shaipz.com" %></p>
			<p><%= t("how.also") %></p>
			<p><b><%= t("how.twitter") %> </b> <%= link_to "http://twitter.com/shaipzapp", "http://twitter.com/shaipzapp" %></p>
			<p><b><%= t("how.facebook") %> </b> <%= link_to "http://facebook.com/shaipz", "http://facebook.com/shaipz" %></p>
			<p><b><%= t("how.join_team") %> </b> <%= link_to "http://checkthis.com/6r45","http://checkthis.com/6r45" %></p>
		</section>
	</div>
</section>