<section id='how-it-works'>
    
    <h1><%= t("how.how") %></h1>
    
  </section>
  
	<div class="timeline">
		  <section id="why-shaipz">
		    <h2><i><%= t("how.baseline") %></i></h2>
            <div class="why-box place">              
              <div class="video"><%= link_to image_tag("discovery_all_icon.png", :size => "220x220") %></div>
              <h3><strong><%= t("Discovery") %></h3>
            </div>
            <div class="why-box neighbours">
              <div class="video"><%= link_to image_tag("commitment_icon.png", :size => "220x220") %></div>
              <h3><strong><%= t("Commitment") %></h3>
            </div>
            <div class="why-box terms-of-living">
              <div class="video"><%= link_to image_tag("paperwork_icon.png", :size => "220x220") %></div>
              <h3><strong><%= t("Paperwork") %></h3>
            </div>
            <div class="why-box terms-of-living">
              <div class="video"><%= link_to image_tag("success_icon.png", :size => "220x220") %></div>
              <h3><strong><%= t("Happiness") %></h3>
            </div>
          </section>
    </div>
	
	
<div id="stream-wrap">
  <section id='how-it-works'>

		
	
<! timeline>
			
<! timeline image>
	  <section id='how-it-works'>	
		<div class="timeline">
		  	
		
<! timeline details>
			
			<div id="building-discovery">
			<h3><%= t("timeline.building-discovery") %></h3>
			<p><%= t("timeline.building-discovery-content") %></p>
			</div>
			
			<div id="people-discovery">
			<h3><%= t("timeline.people-discovery") %></h3>
			<p><%= t("timeline.people-discovery-content") %></p>
			</div>
			
			<div id="interest-confirmation">
			<h3><%= t("timeline.interest-confirmation") %></h3>
			<p><%= t("timeline.interest-confirmation-content") %></p>
			</div>
			
			<div id="feasibility-stamp">
			<h3><%= t("timeline.feasibility-stamp") %></h3>
			<p><%= t("timeline.feasibility-stamp-content") %></p>
			</div>
			
			<div id="internal-agreement">
			<h3><%= t("timeline.internal-agreement") %></h3>
			<p><%= t("timeline.internal-agreement-content") %></p> 
			</div>
			
			<div id="global-offer-making">
			<h3><%= t("timeline.global-offer-making") %></h3>
			<p><%= t("timeline.global-offer-making-content") %></p>  
			</div>
			
			<div id="global-offer-acceptance">
			<h3><%= t("timeline.global-offer-acceptance") %></h3>
			<p><%= t("timeline.global-offer-acceptance-content") %></p>
			</div>
			
			<div id="sales-agreement">
			<h3><%= t("timeline.sales-agreement") %></h3>
			<p><%= t("timeline.sales-agreement-content") %></p>
			</div>
			
			<div id="challenges-fixing">
			<h3><%= t("timeline.challenges-fixing") %></h3>
			<p><%= t("timeline.challenges-fixing-content") %></p> 
			</div>
			
			<div id="notarial-deed">
			<h3><%= t("timeline.notarial-deed") %></h3>
			<p><%= t("timeline.notarial-deed-content") %></p>
			</div>
			
			<div id="move-in">
			<h3><%= t("timeline.move-in") %></h3>
			<p><%= t("timeline.move-in-content1") %><br><%= t("timeline.move-in-content2") %></p> 
			</div>
		
		
		</div>
			
<p><%= link_to t("how.join"), stream_path %> <%= t("how.or") %> <%= link_to t("how.create_call"), new_project_path %></p>			
			
			
			<h1><%= t("how.questions") %></h1>
			<p><%= t("how.ask_questions") %></p>
			<p><%= t("how.shy") %> <b><%= t("how.email") %></b> <%= t("how.email_at") %> <%= link_to "hello@Shaipz.com", "mailto:hello@Shaipz.com" %></p>
			<p><%= t("how.also") %></p>
			<p><b><%= t("how.twitter") %> </b> <%= link_to "http://twitter.com/shaipzapp", "http://twitter.com/shaipzapp" %></p>
			<p><b><%= t("how.facebook") %> </b> <%= link_to "http://facebook.com/shaipz", "http://facebook.com/shaipz" %></p>
			<p><b><%= t("how.join_team") %> </b> <%= link_to "http://checkthis.com/6r45","http://checkthis.com/6r45" %></p>
			
			
			
			
		</section>
	</div>
</section>