

<!-- Header with background -->
<div class="row-fluid">
  <div class="span12">      
    <div id="signin">

      <div class="row-fluid">
        <div class="span8 offset2">
          <div id="tagline" class="text-center"><p>A smart way to buy your home</p></div> 
        </div>
      </div>
       
      <div class="row-fluid">
        <div class="hero-unit signinbloc span3 offset6">

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
        <center>
          <p><%= link_to  image_tag("connect_using_facebook_xlarge.png"), user_omniauth_authorize_path(:facebook) %></p>
          <p><i><b><%= t("home.or_fill_in_form") %></b></i></p>
        </center>

        <ul class="fields">
          <li class="string">
            <%= f.label :email %>
            <%= f.email_field :email, :placeholder => t("example_email") %>
          </li>

          <li class="string">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </li>

          <% if devise_mapping.rememberable? -%>
          <li class="checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </li>
          <% end -%>
        </ul>
    
        <div class="form-actions">
          <%= f.submit t('home.sign_in'), :class => "btn btn-large btn-block btn-info" %>
        </div>

        <% end %>

        <div class="devise-links"><%= render "devise/shared/links" %></div>
        
        </div> <!-- end hero-unit -->
      </div> <!-- end row-fluid -->

    </div> <!-- end signin -->
  </div> <!-- end span12 -->
</div> <!-- end whole form, tagline and background -->

