<p><%= t("notification.mail.salutation") %></p>

	<p><%=t("notification.mail.create_project.content", :name => @user.name, :project => @project.name)%></p>

	<p> <%= t("notification.mail.create_project.join")%> <%= link_to t("notification.mail.here") , project_url(@project)  %>.

<p><%= t("notification.mail.signature") %></p>
<p><%= t("notification.mail.team") %></p>
