<h2><%= t("notification.mail.salutation") %></h2>

<p>
	<%= t("notification.mail.destroy_project.subject", :name => @user.has_name? ? @user.name : @user.name_placeholder, :project => @project.name) %>
</p>

<p>
  <%= t("notification.mail.destroy_project.content.recreate") %> <%= link_to t("notification.mail.here") , "mailto:hello@shaipz.com" %> <%= t("notification.mail.destroy_project.content.create_brand_new") %> <%= link_to t("notification.mail.here") , new_project_url %>.
</p>

<p><%= t("notification.mail.signature") %></p>
<p class="signature"><%= t("notification.mail.team") %></p>
