
	<h1> <%= t("notification.mail.salutation") %> </h1>
    <h2><%= t(:"notification.mail.destroy_project.subject", :name => @user.name, :project => @project.name) %></h2>
    <p>
			<%= t("notification.mail.destroy_project.content") %> <%= link_to 'here' , project_url(@project) %>.
    </p>
    <p><%= t('notification.mail.signature')%></p>
		<p><%= t('notification.mail.team')%></p>

    <p>Have a great day!</p>

