<!-- becomes project to vote for -->
<h2><%= t("notification.mail.salutation") %></h2>

<p><%=t("notification.mail.suggest_project_to_lead.content1")%></p>

<p><%=t("notification.mail.suggest_project_to_lead.content2")%></p>

<p><%=t("notification.mail.suggest_project_to_lead.content3")%></p>

<p><%=link_to t("notification.mail.suggest_project_to_lead.lead"), project_url(@project) %>.

<p><%= t("notification.mail.signature") %></p>
<p class="signature"><%= t("notification.mail.team") %></p>