<h2><%= t("notification.mail.hello", :name => @user.name) %>!</h2>


<h1><%= t("notification.mail.welcome_user.glad") %>!</h1>


<p><%= t("notification.mail.welcome_user.purpose") %>.</p>


<h2><%= t("notification.mail.welcome_user.get_started") %>:</p>

<p><%= t("notification.mail.welcome_user.go_to") %> <%= link_to t("Shaipz"), "http://shaipz.com" %> <%= t("notification.mail.welcome_user.complete") %> <%= link_to t("notification.mail.welcome_user.profile"), @url_profile %>;</p>

<p><%= t("notification.mail.welcome_user.join") %> <%= link_to t("notification.mail.welcome_user.existing_project"), @url_join %> <%= t("how.or") %> <%= link_to t("notification.mail.welcome_user.create"), @url_create %> <%= t("notification.mail.welcome_user.on_shaipz") %>;</p>

<p><%= t("notification.mail.welcome_user.collaborate") %>!</p>


<h2><%= t("notification.mail.welcome_user.here_to_help") %>:</h2>

<p><%= t("notification.mail.welcome_user.question") %> <%= link_to t("notification.mail.welcome_user.drop_email"), "mailto:hello@shaipz.com" %>.</p>

<p><%= t("notification.mail.welcome_user.FAQ") %> <%= link_to t("notification.mail.here"),@url_how %>.</p>


<p><%= t("notification.mail.welcome_user.warm_salutation") %>!</p>

<h2><%= t("notification.mail.team_members") %></h2>
<p class="signature"><%= t("notification.mail.team") %></p>