<p><%= t("notification.mail.salutation") %>!</p>


<h2><%= t("notification.mail.welcome_user.glad") %>!</h2>


<p><%= t("notification.mail.welcome_user.purpose") %>.</p>


<h2><%= t("notification.mail.welcome_user.get_started") %>:</h2>

<p><%= t("notification.mail.welcome_user.go_to") %> <%= link_to t("Shaipz"), "http://shaipz.com" %> <%= t("notification.mail.welcome_user.complete") %> <%= link_to t("notification.mail.welcome_user.profile"), edit_user_url(@user) %>;</p>

<p><%= t("notification.mail.welcome_user.join") %> <%= link_to t("notification.mail.welcome_user.existing_project"), stream_url %> <%= t("how.or") %> <%= link_to t("notification.mail.welcome_user.create"), new_project_url %> <%= t("notification.mail.welcome_user.on_shaipz") %>;</p>

<p><%= t("notification.mail.welcome_user.collaborate") %>!</p>


<h2><%= t("notification.mail.welcome_user.here_to_help") %>:</h2>

<p><%= t("notification.mail.welcome_user.question") %> <%= link_to t("notification.mail.welcome_user.drop_email"), "mailto:hello@shaipz.com" %>.</p>

<p><%= t("notification.mail.welcome_user.FAQ") %> <%= link_to t("notification.mail.here"),how_it_works_url %>.</p>


<p><%= t("notification.mail.welcome_user.warm_salutation") %>!</p>



<p><b><%= t("notification.mail.team_members") %></b></p>
<p class="signature"><b><%= t("notification.mail.team") %></b></p>