<section id="edit-profile">
  <%= form_for(@user, :url => user_path, :html => { :multipart => true }) do |f| %>
    <ul class="picture">
      <li>
        <%= image_tag @user.picture.url(:medium) %>
        <%= f.file_field :picture %>
      </li>
    </ul>
    <ul class="fields">
			<h2><%= t("profile.fill_your_profile") %></h2>
      <li class="string">
        <%= f.label :name %>
        <%= f.text_field :name, :placeholder => t("example_name") %>
      </li>
      <li class="string">
        <%= f.label :email %>
        <%= f.email_field :email, :placeholder => t("example_email") %>
      </li>
			 <li class="string">
	        <%= link_to t("profile.change_password"), edit_change_password_path %>
	      </li>
      <li class="string">
        <strong><%= f.label :personal_status, t("profile.how_ready_you_are") %></strong>
        <%= f.select :personal_status, @personal_statuses, {:include_blank => true} %>
      </li>
      <li class="checkbox">
        <%= f.check_box :cohousing %>
        <%= f.label :cohousing %>
      </li>
    </ul>
    <ul class="fields">
      <li class="string">
        <%= f.label :favorite_areas, t("profile.favorite_areas_form") %>
        <%= f.text_field :favorite_areas, :placeholder => "1050, 1081, 2000, 7850, 3000" %>
      </li>
      <li class="string">
        <%= f.label :minimum_space, t("profile.minimum_space_form") %>
        <%= f.text_field :minimum_space, :placeholder => "50" %>
      </li>
      <li class="string">
        <%= f.label :maximum_budget, t("profile.maximum_budget_form") %>
        <%= f.text_field :maximum_budget, :placeholder => "160000" %>
      </li>
			<li class="checkbox">
        <%= f.check_box :hide_budget %>
        <%= f.label :hide_budget, t("profile.hide_budget") %>
      </li>
    </ul>
		</br>
    <div class="form-actions clear">
      <span class="green-button"><%= f.submit t('profile.save_changes') %></span>
    </div>
	<% end %>

<%= render 'search_links' %>

</section>
