<section id="edit-profile">
  <%= form_for(@user, :url => user_path, :html => { :multipart => true }) do |f| %>
    <ul class="picture">
      <li>
        <%= image_tag @user.picture.url(:medium) %>
        <%= f.file_field :picture %>
      </li>
    </ul>
    <ul class="fields">
			<h2><%= t("profile.fill_your_profile") %></h2>
			<% @user.errors.full_messages.each do |msg| %>
				<p><b><%= msg %></b></p>
			<% end %>
      <li class="string">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li class="string">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </li>
			 <li class="profile-actions">
	        <%= link_to t("profile.change_password"), edit_change_password_path %>
	      </li>
      <li class="string">
        <%= f.label :personal_status, t("profile.how_ready_you_are") %>
        <%= f.select :personal_status, @personal_statuses, {:include_blank => true} %>
      </li>
      <li class="checkbox">
        <%= f.check_box :cohousing %>
        <%= f.label :cohousing %>
      </li>
    </ul>
    <ul class="fields">
      <li class="string">
        <%= f.label :favorite_areas, t("profile.favorite_areas_form") %>
        <%= f.text_field :favorite_areas %>
      </li>
      <li class="string">
        <%= f.label :minimum_space, t("profile.minimum_space_form") %>
        <%= f.text_field :minimum_space %>
      </li>
      <li class="string">
        <%= f.label :maximum_budget, t("profile.maximum_budget_form") %>
        <%= f.text_field :maximum_budget %>
      </li>
    </ul>
    <div class="form-actions clear">
      <span class="button"><%= f.submit t('profile.save_changes') %></span>
    </div>
  <% end %>
</section>
