<section id="show-profile">
  <div id="profile-box">
    <div class="picture">
      <%= image_tag @user.picture.url(:medium) %>
    </div>

    <div class="personal-status">
      <div class="progress <%= @user.personal_status.dasherize if @user.has_personal_status? %>"></div>
    </div>
    <p class="status"><%= t("statuses.#{@user.personal_status}") if @user.has_personal_status? %></p>
  </div>

  <div id="profile-info">
    <h2><%= @user.has_name? ? @user.name : @user.name_placeholder %></h2>
    <ul>
      <li>
        <span class="label"><%= t("profile.email") %></span>
        <%= @user.email %>
      </li>
      <li>
        <span class="label"><%= t("profile.favorite_areas") %></span>
        <%= @user.favorite_areas %>
      </li>
      <li>
        <span class="label"><%= t("profile.maximum_budget") %></span>
        <%= @user.maximum_budget %> €
      </li>
      <li>
        <span class="label"><%= t("profile.minimum_space") %></span>
        <%= @user.minimum_space %> m&sup2;
      </li>
    </ul>
  </div>
</section>
