<section id="show-profile">
  <div id="profile-box">
    <div class="picture">
      <%= image_tag @user.picture.url(:medium) %>
      <% if @user == current_user %>
        <%= link_to t("profile.edit"), edit_user_path(@user), :class => "edit" %>
      <% end %>
    </div>

    <div class="personal-status">
      <div class="progress <%= @user.personal_status.dasherize if @user.has_personal_status? %>"></div>
    </div>
    <p class="status"><%= t("statuses.#{@user.personal_status}") if @user.has_personal_status? %></p>
    <ul class="profile-actions">
      <li>
        <strong><%= link_to t("project.create_project"), new_project_path %></strong>
      </li>
      <li>
        <strong><%= link_to t('profile.friend_invitation'), new_friend_invitations_path %></strong>
      </li>
    </ul>
  </div>

  <div id="profile-info">
    <h2><%= @user.has_name? ? @user.name : @user.name_placeholder %></h2>
    <ul>
      <li>
        <span class="label"><%= t("profile.email") %></span>
        <%= @user.email %>
      </li>
      <li>
        <span class="label"><%= t("profile.favorite_areas") %></span>
        <%= @user.favorite_areas %>
      </li>
			<% if !@user.hide_budget || @user == current_user %>
      	<li>
        	<span class="label"><%= t("profile.maximum_budget") %></span>
        	<%= number_to_currency(@user.maximum_budget, :delimiter =>'.', :strip_insignificant_zeros => true, :unit => "€", :format => "%n %u") %>
      	</li>
			<% end %>
      <li>
        <span class="label"><%= t("profile.minimum_space") %></span>
        <%= @user.minimum_space %> m&sup2;
      </li>
    </ul>
  </div>

  <%= render 'search_links' %>
</section>

<% content_for :report do %>
  <div class="report">
    <%= link_to 'Report', new_user_report_path(@user) %>
  </div>
<% end %>
