%section#show-profile
  #profile-box
    .picture
      = image_tag @user.picture.url(:medium)
      - if @user == current_user
        = link_to t("profile.edit"), edit_user_path(@user), :class => "edit"

    - if @user.cohousing?
      .cohousing
        %h3= t("profile.open_to_cohousing")
        = image_tag ("cohousing.png"), {:title => t("profile.logo_cohousing")}

    .personal-status
      %div{ :class => "progress #{@user.personal_status.dasherize if @user.has_personal_status?}" }
    %p.status= t("statuses.#{@user.personal_status}") if @user.has_personal_status?

    - if current_user == @user
      %ul#profile-actions
        %li= link_to t("profile.find"), user_path(@user), :title => t("profile.find_shortcut")
        %li= link_to t("project.create"), new_project_path, :title => t("project.create_shortcut")
        %li= link_to t("project.join"), stream_path, :title => t("project.join_shortcut")
        %li.invitation= link_to t("profile.invite_friends"), new_friend_invitations_path

  #profile-info
    %h2= @user.has_name? ? @user.name : @user.name_placeholder

    %ul
      %li
        %span.label= t("profile.email")
        = @user.email
      %li
        %span.label= t("profile.favorite_areas")
        = @user.favorite_areas
      - if !@user.hide_budget || @user == current_user
        %li
          %span.label= t("profile.maximum_budget")
          = number_to_currency(@user.maximum_budget, :delimiter =>'.', :strip_insignificant_zeros => true, :unit => "€", :format => "%n %u")
      %li
        %span.label= t("profile.minimum_space")
        = @user.minimum_space
        m&sup2;
     
    %h2= t("search_settings.ideal")

  = render "search_links"

- content_for :report do
  .report= link_to t("profile.report"), new_user_report_path(@user)
