<div class="container container-fluid-profile">
	<div class="howitworks-header page-header">
		<div class="row-fluid">
			<div class="span8">
				<h1><%= @user.has_name? ? @user.name : @user.name_placeholder %>
				<% if @user.cohousing? %>
        		<%= image_tag ("cohousing.png"), {:title => t("profile.logo_cohousing")} %>
            	<% end %>
            <% if current_user.is_admin %>
            	<% if @user.realistic %>
            		<span class="label label-success">Realistic</span>
            	<% else %>
            		<span class="label label-important">Unrealistic</span>
            	<% end %>
            	<% if @user.is_active %>
            		<span class="label label-info">Active user</span>
            	<% end %>
            <% end %>
            	</h1>
            </div>
            <div class="span4 text-right edit-profile">
            	<% if @user == current_user %>
            	<%= link_to t("profile.edit"), edit_user_path(@user), :class => "btn btn-large btn-info" %>
            	<% else %>
            	<%= link_to t("profile.contact_me"), "mailto:#{@user.email}", :class => "btn btn-large btn-info" %>
            	<% end %>
            </div>
        </div>
	</div>
	<div class="row-fluid">
        <div class="hero-unit profile span12">
            <div class="row-fluid">	
                <div class="span3">
  					<%= image_tag @user.picture.url(:medium), :class => 'img-rounded' %>
				</div>
				<div class="span9">
					<% if @user.has_ideal_project_or_neighbour? %>
						<p><%= t("profile.my_ideal_project") %></p>
						<h4><i class="icon-quote-left pull-left"></i><i> <%= @user.ideal_project %> </i><i class="icon-quote-right"></i></h4>

						<p><%= t("profile.my_ideal_neighbour") %></p>
						<h4><i class="icon-quote-left pull-left"></i><i> <%= @user.ideal_neighbour %></i> <i class="icon-quote-right"></i></h4>

					<% else %>
					<div class="row-fluid text-center">
						<div class="span5">
							<p><%= t("profile.favorite_areas") %></p>
							<h4><%= @user.favorite_areas %></h4>
						</div>
						<div class="span3">
							 
							<p> <%= t("profile.minimum_space") %></p>
							<h4><%= @user.minimum_space %> m2</h4>
						</div>
						<div class="span4">
							<% if !@user.hide_budget || @user == current_user %>
							
							<p> <%= t("profile.maximum_budget") %></p>
							<h4><%= number_to_currency(@user.maximum_budget, :delimiter =>'.', :strip_insignificant_zeros => true, :unit => "€", :format => "%n %u") %></h4>
							<% end %>
						</div>
    				</div> 
				</div>
				
				<div class="span9">
					<div class="row-fluid status-timing">
						<div class="span8 text-center">
							<p><%= t("statuses.#{@user.personal_status}") if @user.has_personal_status? %></p>
<!-- very wrong since not DRY at all as a method, should be set correctly soon -->
							<% if @user.personal_status == 'not_buying' %>
								<div class="progress progress-striped active">
								<div class="bar bar-danger" style="width: 10%"></div>
								</div>
							<% end %>
							<% if @user.personal_status == 'looking_for_opportunity' %>
								<div class="progress progress-striped active">
								<div class="bar bar-warning" style="width: 50%"></div>
								</div>
							<% end %>
							<% if @user.personal_status == 'ready_but_bank' %>
								<div class="progress progress-striped active">
								<div class="bar" style="width: 70%"></div>
								</div>
							<% end %>
							<% if @user.personal_status == 'ready_with_bank' %>
								<div class="progress progress-striped active">
								<div class="bar bar-success" style="width: 85%"></div>
								</div>
							<% end %>
							<% if @user.personal_status == 'buying' %>
								<div class="progress progress-striped active">
								<div class="bar bar-success" style="width: 100%"></div>
								</div>
							<% end %>

							<% if @user.personal_status == 'bought' %>
								<div class="progress">
								<div class="bar bar-success" style="width: 100%"></div>
								</div>
							<% end %> 
						</div>
						<div class="span4 text-center">
							<p><%= t("profile.personal_timing") %></p>
                            <h4><%= @user.has_personal_timing? ? @user.personal_timing : @user.personal_timing_placeholder %></h4>
						</div>
					</div>
					<% end %>
				</div>
    		</div>
		</div>
	</div>
	<% if @user == !current_user %>
	
	<div class="row-fluid">
		<div class="span2 offset10 report-profile">
			<p class="text-right"><%= link_to t("profile.report"), new_user_report_path(@user) %></p>
		</div>
	</div>
    <% end %>



    <div class="tabbable">
  <ul class="nav nav-tabs text-center lead">
    
  
    <li class="active"> 
      <a href="#pane1" data-toggle="tab"><i class="icon-cogs"></i> <%= t("menu.shaipz") %></a>
    </li>
<% if current_user == @user %>
    <li>  
      <a href="#pane2" data-toggle="tab"><i class="icon-time"></i> <%= t("profile.tab_myevents") %></a>
     
    </li>
    
    <li>
      <a href="#pane3" data-toggle="tab"><i class="icon-group"></i> <%= t("profile.tab_myfellows") %></a>
      
    </li>
<% end %>

<% if current_user.is_admin %>

	<li>
      <a href="#pane4" data-toggle="tab"><i class="icon-group"></i> <%= t("potential.matching") %></a>
    </li>

<% end %>
   
    <!--<li>
      <a href="#pane4" data-toggle="tab"><i class="icon-user"></i><%= t("menu.profile") %></a>
    </li>-->

    
  </ul>

<!-- TABS CONTENT -->
  <div class="tab-content">
  	
  	<div id="pane1" class="tab-pane active">
  		<% if current_user == @user %>
  			<p><span class="lead"><%= t("profile.tab_my_projects_intro1") %></span>
			<br><i class="icon-info-sign"></i> <%= t("profile.tab_my_projects_intro2") %></p>
		<% else %>
			<p><span class="lead"><%= t("profile.tab_his_projects_intro1") %> <%= @user.name_or_placeholder %> <%= t("profile.tab_his_projects_intro1bis") %></span>
			<br><i class="icon-info-sign"></i> <%= t("profile.tab_his_projects_intro2") %></p>
		<% end %>

	    <% @projects.each do |project| %>
	    	<%= render :partial => "_shared/project", :locals => { :project => project } %>
	  	<% end %>

	   <div class="span8 offset2 text-center">
	    	<h4><%= t("project.want_more") %></h4>
	    	<div class="row-fluid">
	      		<div class="span6">
	        		<%= link_to t("project.check_out_new_projects"), stream_path, :class => "btn btn-block btn-large btn-info" %>
	      		</div>
	      		<div class="span6">
	        		<%= link_to t("project.or_create_your_own"), new_project_path, :class => "btn btn-block btn-large btn-success" %>
	      		</div>
	    	</div>
	  	</div> 
	</div>

	<div id="pane2" class="tab-pane">
		<% if current_user == @user %>
			<p><span class="lead"><%= t("profile.tab_myevents_intro1") %></span>
			<br><i class="icon-info-sign"></i> <%= t("profile.tab_myevents_intro2") %></p>
		<% else %>
			<p><span class="lead">You can have a look at the next events @user.name_or_placeholder might be going to</span>
			<br><i class="icon-info-sign"></i> coming events are highlighted in green, and past events are blured</p>
		<% end %>

	    <% @projects.each do |project| %>
	    	<%= render :partial => "_shared/myevent", :locals => { :project => project } %>
	  	<% end %>
	</div>

	<div id="pane3" class="tab-pane">
		<% if current_user == @user %>
			<p><span class="lead"><%= t("profile.tab_myfellows_intro1") %></span>
			<br><i class="icon-info-sign"></i> <%= t("profile.tab_myfellows_intro2") %></p>
		<% else %>
			<p><span class="lead">Discover @user.name_or_placeholder fellows</span>
			<br><i class="icon-info-sign"></i> hover over pictures to see their name, or click on pictures to go to their profile</p>
		<% end %>
	    <% @projects.each do |project| %>
	    	<%= render :partial => "_shared/myfellow", :locals => { :project => project } %>
	  	<% end %>
	</div>

	<div id="pane4" class="tab-pane">
		<%= render :partial => "_shared/fellows" %>
	</div>
 
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

    
</div>