<div id="enjoy" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-glass icon-large pull-left colored"> </i><%= t("home.enjoy_header") %></h3>
  </div>
  
  <div class="modal-body">

    
    <p class="lead"><i class="icon-home icon-large pull-left icon-muted"></i><%= t("home.enjoy_content1") %></p>
      
      <p><%= t("home.enjoy_content2") %>
      <ul>
        <li><%= t("home.enjoy_content3") %></li>
        <li><%= t("home.enjoy_content4") %></li>
      </ul>
      </p>

    <ul class="nav nav-list">
      <li class="divider"></li>
    </ul>

      <p class="lead"><i class="icon-group icon-large pull-left icon-muted"></i><%= t("home.enjoy_content5") %></p>
      
      <p><%= t("home.enjoy_content6") %></p>

        <p><small><i><%= t("home.enjoy_content7") %></i></small></p>


    <ul class="nav nav-list">
      <li class="divider"></li>
    </ul>

      <p class="lead"><i class="icon-building icon-large pull-left icon-muted"></i><%= t("home.enjoy_content8") %></p>

      <p><%= t("home.enjoy_content9") %> 
        
      <br><%= t("home.enjoy_content10") %></p>

      <p><%= t("home.enjoy_content11") %><b><%= t("home.enjoy_content12") %></b><%= t("home.enjoy_content13") %></p>

      <p><small><i>*<%= t("profile.definition_cohousing") %></i></small></p>
      
      
    <ul class="nav nav-list">
      <li class="divider"></li>
    </ul>

      <p class="lead"><i class="icon-legal icon-large pull-left icon-muted"></i><%= t("home.enjoy_content14") %></p>

      <p><%= link_to t("home.enjoy_content15"), legal_path %><%= t("home.enjoy_content16") %>
        <ul>
          <li><%= t("home.enjoy_content17") %></li>
          <li><%= t("home.enjoy_content18") %></li>
        </ul>
      </p>

      <h2 class="title text-center"><%= t("home.enjoy_content19") %></h2>

    </div>

  <div class="modal-footer">
    <button class="btn" href="#explore" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><%= t("home.collaborate") %><i class="icon-chevron-left pull-left"></i></button>
    <a class="btn btn-info" href="#Signup" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><%= t("home.sign_up_for_shaipz") %></a>
   </div>
 </div>