<div id="explore" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-search icon-large pull-left colored"></i><%= t("home.explore_header") %></h3>
  </div>
  
  <div class="modal-body">

    <h3 class="text-center"><%= t("home.explore_title") %></h3>

     <p class="lead"><i class="icon-cog icon-2x icon-muted"></i><%= t("home.explore_content1") %></p>

      <p><%= t("home.explore_content2") %></p>

      <div class="row-fluid">
        <div class="span4 offset1 text-center">
          <button class="btn btn-success btn-block"><%= t("project.lead") %></button>
          <%= t("home.explore_content3") %>
        </div>
        <div class="span4 offset2 text-center">
          <button class="btn btn-info btn-block"><%= t("project.join") %></button>
          <%= t("home.explore_content4") %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4 next-title">
          <ul class="nav nav-list">
            <li class="divider"></li>
          </ul>
        </div>
        <div class="span4">
          <h1 class="text-center"><%= t("home.or") %></h1>
        </div>
        <div class="span4 next-title">
          <ul class="nav nav-list">
            <li class="divider next-title"></li>
          </ul>
        </div>
      </div>
    

    <p class="lead"><i class="icon-external-link icon-large icon-muted"></i><%= t("home.explore_content5") %></p>
    
    <p><%= t("home.explore_content6") %><b><%= t("home.explore_content7") %></b><%= t("home.explore_content8") %></p> 
    
    <p><%= t("home.explore_content9") %></p>

      <div class="row-fluid">
        <div class="hero-unit search_link span8 offset2 text-right">
            <i class="icon-building icon-4x pull-right icon-muted"></i>
            <%= t("home.explore_create_example") %>
            <button class="btn btn-block btn-success"><%= t("search_settings.find_one_on_immoweb") %></button>
            </div> 
          </div>
    
    <%= t("home.explore_content10") %> 
    <ul>
      <li><b><%= t("home.explore_content11") %></b><%= t("home.explore_content12") %></li>
      <li><b><%= t("home.explore_content13") %></b><%= t("home.explore_content14") %></li>
      <li><b><%= t("home.explore_content15") %></b><%= t("home.explore_content16") %></li>
      <li><b><%= t("home.explore_content17") %></b><%= t("home.explore_content18") %></li>
    </ul>
    <%= t("home.explore_content19") %></p>

    
   

  </div>
  <div class="modal-footer">
    <button class="btn" href="#get_ready" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><%= t("get ready") %><i class="icon-chevron-left pull-left"></i></button>
    <a class="btn btn-info" href="#collaborate" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><%= t("collaborate") %><i class="icon-chevron-right pull-right"></i></a>
   </div>
 </div>