
<!-- Header with background -->
<div class="row-fluid">
  <div class="span12">      
    <div id="join">
      
      <div class="row-fluid">
        <div class="span8 offset2">
          <div id="tagline" class="text-center"><p><%= t("home.baseline") %></p>
            <a href="#Signup" data-toggle="modal"><button class="span4 offset4 btn btn-large btn-block btn-info" type="button" id="call-join"><p class="lead"><%= t("home.join_now") %></p></button></a>
            <!-- Button to trigger modal -->
            <a href="#DemoVideo" role="button" data-toggle="modal" id="watch"><p class="span6 offset3"><%= t("home.or_watch_video") %></p></a>
            <!-- Modal -->
            <div id="DemoVideo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div id="youtube">
                <iframe width="600" height="300" src="http://www.youtube.com/embed/f4zwYhjYuiQ" showinfo="0" autohide="1" frameborder="0" allowfullscreen color2="#1b8e8a"></iframe>
              </div>
            </div> 
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>

<!-- advantages -->
<div class="container home">
<div id="advantages">
<div class="row-fluid">
  <div class="span4">
    <div class="text-center money"><i class="icon-money icon-2x"> </i></div>
     <h2 class="text-center"><%= t("home.better_price") %></h2>
    <p class="text-center"><%= t("home.better_price_tagline") %></p>
  </div>
  <div class="span4">
    <div class="text-center"><i class="icon-group icon-2x">  </i></div>
    <h2 class="text-center"><%= t("home.chosen_neighbours") %></h2>
    <p class="text-center"><%= t("home.chosen_neighbours_tagline") %></p>
  </div>
  <div class="span4">
    <div class="text-center"><i class="icon-legal icon-2x">  </i></div>
    <h2 class="text-center"><%= t("home.chosen_terms") %></h2>
    <p class="text-center"><%= t("home.chosen_terms_tagline") %></p>
  </div>
</div>
</div>

<!-- quotations -->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-interval="10" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-interval="10" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-interval="10" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <blockquote>
        <img src="assets/beatricedelvaux.jpg" class="img-rounded image-eloge">
        <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
        <p class="eloge"><%= t("home.quote_beatricedelvaux") %></p>
        <small>Béatrice Delvaux, <cite title="Source Title"><%= t("home.position_beatricedelvaux") %></cite></small>
      </blockquote>
    </div>
    <div class="item">
      <blockquote>
        <img src="assets/andreduval.png" class="img-rounded image-eloge">
        <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
        <p class="eloge"><%= t("home.quote_andreduval") %></p>
        <small>André Duval, <cite title="Source Title"><%= t("home.position_andreduval") %></cite></small>
      </blockquote>
    </div>
    <div class="item">
      <blockquote>
        <img src="assets/melaniemaquinay.jpg" class="img-rounded image-eloge">
        <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
        <p class="eloge"><%= t("home.quote_melaniemaquinay") %></p>
        <small>Mélanie Maquinay, <cite title="Source Title"><%= t("home.position_melaniemaquinay") %></cite></small>
      </blockquote>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> 
</div>

<!-- HOW IT WORKS - awaiting illustrations

<div class="row-fluid home-how">
  <div class="span12">
    <h1 class="text-center">How it works</h1>
    <p class="text-center">You can either</p>
    
    <div class="row-fluid">
      <div class="span4 offset2">
        <h2 class="text-center">Create a project</h2>
        <p class="text-center">bla bla bl aoaipr foazuhfpma znfpaozdf poazfoazhfpoazhefoa   zhfpaozhfzofpazfaze flazqi flisudhpuh pzaejflaz jdfnlqisufzfl iazfliqzufqzufhpz ufpziufbphib hlzifblqs</p>
      </div>
      <div class="span4">
        <h2 class="text-center">Join a project</h2>
        <p class="text-center">bla bla bl aoaipr foazuhfpma znfpaozdf poazfoazhfpoazhefoa   zhfpaozhfzofpazfaze flazqi flisudhpuh pzaejflaz jdfnlqisufzfl iazfliqzufqzufhpz ufpziufbphib hlzifblqs</p>
      </div>
    </div>
  </div>
</div>  -->

</div>

