<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=268091083289955";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<section id="why-shaipz">
<div class="why-box place">
    <h3><strong><%= t("home.better") %></strong> <%= t("home.place") %></h3>
    <div class="video"></div>
  </div>
  <div class="why-box neighbours">
    <h3><strong><%= t("home.chosen") %></strong> <%= t("home.neighbours") %></h3>
    <div class="video"></div>
  </div>
  <div class="why-box terms-of-living">
    <h3><strong><%= t("home.chosen") %></strong> <%= t("home.terms_of_living") %></h3>
    <div class="video"></div>
  </div>
</section>

<section id="sign-up" class="clear">
  <div id="shaipz-info">
    <h2><%= t("home.sign_up_for_shaipz") %></h2>
		<div id="youtube">
      <iframe width="300" height="175" src="http://www.youtube.com/embed/f4zwYhjYuiQ" showinfo="0" autohide="1" frameborder="0" allowfullscreen color2="#1b8e8a"></iframe>
<p><i>Shaipz enables <b>people</b> to gather around a <b>building</b> for sale, in order to buy it, shape it and organize it themselves. <b>On their own terms</b>.</i></p>
<p class="how-it-works"><%= link_to t('footer.how_it_works'), how_it_works_path %></p>
		</div>
  </div>

  <%= form_for("user", :url => user_registration_path) do |f| %>
    <div class="facebook-button">
	  <center><p><%= link_to  image_tag("connect_using_facebook_xlarge.png"), user_omniauth_authorize_path(:facebook) %>
	  <br><b><i>or go through the form below</i></b></p></center>
	</div>

	<ul class="fields">
      <li class="string">
        <%= f.label :email %>
        <%= f.email_field :email, :placeholder => t("example_email") %>
      </li>
      <li class="string">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>
      <li class="checkbox">
        <%= f.check_box :cohousing %>
        <%= f.label :cohousing,  t("profile.cohousing"), {:title => t("profile.definition_cohousing")} %>
      </li>
    </ul>
    <ul class="fields">
      <li class="string">
        <%= f.label :favorite_areas, t("profile.favorite_areas_form") %>
        <%= f.text_field :favorite_areas, :placeholder => "1030, 1050, 2040, 7850, 3000" %>
      </li>
      <li class="string">
        <%= f.label :minimum_space, t("profile.minimum_space_form") %>
        <%= f.text_field :minimum_space, :placeholder => "70" %>
      </li>
      <li class="string">
        <%= f.label :maximum_budget, t("profile.maximum_budget_form") %>
        <%= f.text_field :maximum_budget, :placeholder => "150000" %>
      </li>
    </ul>

    <div class="form-actions clear">
      <small>It's free !</small><span class="green-button"><%= f.submit t('home.sign_up') %></span>
    </div>
  <% end %>
</section>

<div id = "follow-like">
  <div class="fb-like" data-href="https://www.facebook.com/Shaipz" data-send="false" data-width="450" data-show-faces="false"></div>
  <a href="https://twitter.com/shaipzapp" class="twitter-follow-button" data-show-count="false">Follow @shaipzapp</a>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</div>
