<h2>Adeptes de la commune <%= @user.favorite_areas %><br>
<small>Pour voir les adeptes d'autres communes, il suffit de modifier votre commune préférée (une commune à la fois)</small></h2>

<h3>Réalistes et actifs</h3>
  	
  		<% @user.fellows_in_district.each do |f| %>
  		<% if f.realistic & f.is_active %>
  			<%= render :partial => "_shared/fellowsinfo", :locals => { :f => f } %>
  		<% end %>
  	<% end %>

<h4>Réalistes mais inactifs</h4>
  	
  		<% @user.fellows_in_district.each do |f| %>
  		<% if f.realistic && !f.is_active %>
  			<%= render :partial => "_shared/fellowsinfo", :locals => { :f => f } %>
  		<% end %>
  	<% end %>

<h4>Irréalistes mais actifs</h4>
  	
  		<% @user.fellows_in_district.each do |f| %>
  		<% if !f.realistic && f.is_active %>
  			<%= render :partial => "_shared/fellowsinfo", :locals => { :f => f } %>
  		<% end %>
  	<% end %>

<h4>Ni réalistes ni actifs</h4>
  	
  	
  	<% @user.fellows_in_district.each do |f| %>
  	<% if !f.realistic && !f.is_active  %>
  			<%= render :partial => "_shared/fellowsinfo", :locals => { :f => f } %>
  		<% end %>

  <% end %>