<p>
  		<div class="row-fluid">
  			<div class="span1">
  				<%= link_to(image_tag(f.picture.url(:thumb), :class => 'img-rounded'), user_path(f)) %>
  			</div>
	  	
	  		<div class="span3">
	  			<%= link_to(f.name_or_placeholder, user_path(f)) %><br>
	  			<%= f.email %>
	  		</div>
	  		<div class="span2">
	  			<%= f.maximum_budget %> EUR<br>
				<%= f.minimum_space %> m2<br>
				<% if f.realistic %>
            		<span class="label label-success">Realistic</span>
            	<% else %>
            		<span class="label label-important">Unrealistic</span>
            	<% end %>
            
			</div>
	  		<div class="span2">
	  			<%= f.personal_status %><br>
	  			<%= l(f.current_sign_in_at, :format => :short) if f.signed_in? %>
	  			<% if f.is_active %>
            		<span class="label label-info">Active user</span>
            	<% else %>
            		<span class="label label-warning">Inactive user</span>
            	<% end %>
	  		</div>
	  		<div class="span2">
	  			<%= f.rationale %><br>
	  			<%= image_tag ("cohousing.png"), {:title => t("profile.logo_cohousing")} if f.cohousing? %>
	  		</div>

	  		<div class="span2">
	  			<%= f.favorite_areas %>
	  		</div>
	  	</div>
  	</p>