<div class="hero-unit people-stream project">
	<h3 class="text-center people-title"><%= t("wish.behind_estate") %> <br><%= t("wish.people_behind") %></h3>
	
	<p><b><%= t("wish.at_shaipz") %></b>, <%= link_to t("wish.we_believe"), about_path %> <%= t("wish.more_than") %> <b><%= t("wish.what_matters") %></b> <%= t("wish.when_buying") %><b><%= t("wish.is_people") %></b></p>

	<p><b><%= t("wish.you") %></b>
		<br><%= t("wish.more_people") %>
	<br><%= t("wish.alternative") %>
	</p>

	<p><%= t("wish.drop") %> <b><%= t("wish.how_help") %></b> <%= t("wish.goal") %>

	<div class='text-center'>
		<a class="btn btn-info btn-large btn-block" href="mailto:hello@shaipz.com"><%= t("wish.i_want") %></a>
	</div></p>

<br>
	<p><%= t("wish.best") %></p>

<p class="text-right">
	<img src="assets/ProfilLaetitiaMassa.jpg" class="img-rounded">
	<br>Laetitia Massa,
	<br><small><i><%= t("wish.founder") %></i></small></p>
</div>