<section id="profile-wrap">
  <div id="profile-box">
    <div class="picture">
      <%= image_tag user.picture.url(:medium) %>
    </div>

    <h2><%= user.name %></h2>

    <div class="personal-status">
      <div class="progress <%= user.personal_status.dasherize if user.has_personal_status? %>"></div>
    </div>
    <p class="status"><%= t("statuses.#{user.personal_status}") if user.has_personal_status? %></p>
  </div>

  <div id="profile-info">
    <ul>
      <li>
	      <span class="label"><%= t("profile.favorite_areas") %></span>
        <%= user.favorite_areas %>
      </li>
      <li>
        <span class="label"><%= t("profile.maximum_budget") %></span>
        <%= number_to_currency(user.maximum_budget, :delimiter =>'.', :strip_insignificant_zeros => true, :unit => "€", :format => "%n %u")%>
      </li>
      <li>
        <span class="label"><%= t("profile.minimum_space") %></span>
        <%= user.minimum_space %> m&sup2;
      </li>
			<li>
				<%= link_to t("profile.friend_invitation"), new_friend_invitations_path %>
			</li>
    </ul>
  </div>
</section>

