

<ul class="thumbnails">
	<% if project.disabled? %>
		<div class="disabled">
 	<% end %>	
  	<li class="span12">
    	<div class="thumbnail">
    	
    	<div class="row-fluid">	
    		
    		<div class="span4">
    			<%= link_to image_tag(project.picture.url(:thumb)), project_url(project) %>
    		</div>
    		
    		<div class="span5">
    			<h3 class="stream-title"><%= link_to truncate(project.name, :length => 30), project_path(project) %>
    			<%= image_tag "cohousing.png", :title => t("project.logo_cohousing") if project.cohousing %></h3>
    			by <%= link_to truncate(project.owner_name, :length => 15), user_path(project.owner) %>
    			<div class="row-fluid stream-details">
    				<div class="span4">
    					<p><i class="icon-map-marker icon-2x"></i>
    					<%= project.zipcode %></p>
    				</div>
    				<div class="span3">
    					<p><i class="icon-user icon-2x pull-left"></i>
    					<%= project.maximum_shaipz %></p>
    				</div>
    				<div class="span5">
    					<p><i class="icon-time icon-2x pull-left"></i>
    					<%= truncate(project.event, :length => 15) %></p>
    				</div>
    			</div>
    		</div>
    		
    		<div class="span3 text-right stream-data-right">
    			<h1><%= number_to_currency(project.price_per_shaipz, :delimiter =>'.', :strip_insignificant_zeros => true, :unit => "€", :format => "%n %u") %></h1>
    			<p><%= project.space_per_shaipz %> m2</p>
    			<div class="row-fluid">
    				<div class="span8 offset4">
    					<%= link_to t("stream.original_ad"), project.source_link, :target => "_blank", :title => t("project.logo_original_ad") if project.has_source_link? %><i class="icon-external-link"></i>


    					<% if project.has_participant_or_owner?(@user) %>
							<button type="button" class="btn btn-block btn-large" disabled><%= "##{project.priority_order_for_participant(@user)}" %><%= t("  ") %><%= t("project.in_project") %></button>
						<% else %>
							<%= form_for "participation", :url => participations_path do |f| %>
							<%= f.hidden_field :project_id, :value => project.id %>
								<% unless current_user.authenticated_with_facebook?(session) %>
								<%= f.hidden_field :share_on_facebook, :value => "0" %>
								<% end %>

							<%= f.submit t("project.join"), :class => 'btn btn-block btn-large btn-info' %>
							<% end %>
						<% end %>
					</div> 
				</div>
   		 	</div> <!-- end of stream-data-right -->
   		</div> <!-- end of row-fluid -->
		</div> <!-- end of thumbnail -->    	
    </li>
</ul>



