%section#profile-wrap
  #profile-box
    .picture
      = image_tag user.picture.url(:medium)
      - if user == current_user
        = link_to t("profile.edit"), edit_user_path(user), :class => "edit"

    %h2= user.has_name? ? user.name : user.name_placeholder

    .cohousing= image_tag ("cohousing.png"), :title => t("profile.logo_cohousing") if user.cohousing?

    .personal-status
      %div{ :class => "progress #{user.personal_status.dasherize if user.has_personal_status?}" }
    %p.status= t("statuses.#{user.personal_status}") if user.has_personal_status?

  #profile-info
    %ul
      %li
        %span.label= t("profile.favorite_areas")
        = user.favorite_areas
      %li
        %span.label= t("profile.maximum_budget")
        = number_to_currency(user.maximum_budget, :delimiter =>'.', :strip_insignificant_zeros => true, :unit => "€", :format => "%n %u")
      %li
        %span.label= t("profile.minimum_space")
        = user.minimum_space
        m&sup2;

  %ul#profile-actions
    %li= link_to image_tag("find_building_icon.png", :size => "54x42"), user_path(user), :title => t("profile.find_shortcut")
    %li= link_to image_tag("create_project_icon.png", :size => "54x42"), new_project_path, :title => t("project.create_shortcut")
    %li= link_to image_tag("join_project_icon.png", :size => "54x42"), stream_path, :title => t("project.join_shortcut")
    %li.invitation= link_to image_tag("invite_friends_icon.png", :size => "54x42"), new_friend_invitations_path

  :javascript
    var $editButton = $("#profile-box .edit");
    var $profilePicture = $("#profile-box .picture");

    $profilePicture.mouseover(function() {
      $editButton.show();
    });

    $profilePicture.mouseout(function() {
      $editButton.hide();
    });
