<div class="hero-unit project">
        <div class="row-fluid">
          <div class="span9">
            <div class="snippet-project">
            <% if @project.has_average_district_price? %>
            <a class="reduction" rel="tooltip" data-placement="left" data-original-title="<%= t("stream.economy") %>" >
              <div class="discount"><i class="icon-bookmark icon-4x"></i>
                <div class="percentage">-<%= number_to_percentage(@project.discount, :precision => 0) %>
                </div>
              </div>
            </a>
            <% end %>
            <%= image_tag @project.picture.url(:medium) %>
          </div>
          </div>
          <div class="span3 text-right">
            
            
            <h3><%= number_to_currency(@project.price_per_shaipz, :delimiter =>'.', :strip_insignificant_zeros => true, :unit => "€", :format => "%n %u") %><small> /<i class="icon-home"></i></small></h3>
            
            <h4 class="up"><%= @project.maximum_shaipz %>  <i class="icon-home"></i> <small><%= t("project.of") %></small> <%= @project.space_per_shaipz %> <small>m2</small></h4>
  
            <h5 class="short-spacing up"><i class="icon-map-marker"></i><%= @project.zipcode %> <%= @project.city %>
            <% if @project.has_participant_or_owner?(@user) && !@project.hide_street_from_non_participants? %>
            <br><small><%= @project.address %> </small>
            <% end %></h5>
           
            
          </div>
        </div>