  <!-- PARTICIPANTS TAB -->

    <div id="pane3" class="tab-pane">
 
      <div class="row-fluid">
        
<!-- PARTICIPANTS LEFT SIDE --> 
      <div class="span9">
        <p class="lead inner-title text-center"><%= t("project.discuss") %>  
              <%= render_comments_form @project %>
              <%= render_comments @project %>
              <div class="text-center"><button class="btn btn-small disabled" id="view-disqus"><%= t("comment.retrieve_disqus") %></button></div>
              <div id="disqus_module">
        <!-- DISQUS module -->

       <div class="text-center"><br><a href="#HowtoGetNotified" role="button" class="btn btn-warning" data-toggle="modal"><i class="icon-envelope pull-left"></i><%= t("project.how_to_get_notified") %></a></p></div> <!-- Button to trigger modal -->


        <div id:"disqus_thread"><%= render :partial => "_shared/disqus", :locals => { :title => @project.name } %></div>

          <!-- Modal -->
          <div id="HowtoGetNotified" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel"><%= t("project.how_to_get_notified") %></h3>
            </div>
            <div class="modal-body">
              <ol class="text-left">
                <li><%= t("project.go_to_bottom") %> <br> <%= t("project.click_on_subscribe") %><br><div class="text-center"><%= image_tag("disqusNotificationGotobottom.png") %></div></li>
                <li><%= t("project.insert_email") %> <%= image_tag("disqusNotificationInsertemail.png") %></li>
                <li><%= t("project.confirm_email") %> <%= image_tag("disqusNotificationConfirmemail.png") %></li>
              </ol>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t("project.ok_thanks") %></button>
              
            </div>
          </div> <!-- get notified modal end -->
        </div>

      </div> <!-- span join conversation end -->

<!-- PARTICIPANTS RIGHT SIDE -->
<div class="span3">
        <p class="lead text-center"><%= t("project.discover_participants") %></p>

        
      
        <% @participants.each do |p| %>
        <div class="row-fluid">
          <div class="hero-unit participants-list span12">
        
            <div class="span3 profile-participant text-center">
              <div class="p-status" data-trigger="hover" rel="popover" data-html="true" data-placement="right"  data-content="<%= t("statuses.#{p.personal_status}") if p.has_personal_status? %>" data-original-title="<%= p.has_name? ? p.name : p.name_placeholder %>" ><%= link_to(image_tag(p.picture.url(:thumb), :class => 'img-rounded'), user_path(p)) %>
              </div> 
            </div>
            <div class="span9">
              <p><b><%= link_to p.has_name? ? p.name : p.name_placeholder, user_path(p) %></b><br>
              <% if p.has_skill? %>
                <i class="participants-status"><%= t("project.skill_i_master") %><%= t("skills.#{p.skill}") %></i>
                <% if p == current_user %>
                  <span class="pull-right"><%= link_to image_tag("edit-icon.png", :size => "16x16"), edit_user_path(p) %></span>
                <% end %>
              </p>
              <% else %>
                <% if p == current_user %>
                <i class="participants-status missing"><i class="icon-edit"></i> <%= link_to t("project.missing_skill"), edit_user_path(p) %></i>
                <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </div>

       
        <% end %>
      </div>

    </div>
  </div> 