<% if @user.id == current_user.id %>
	
	<div id="research-links">
	
	<h3><%= t("search_settings.ideal") %></h3>
		<% if @url_immo.user_can_have_a_house? %>
			<p><%= t("search_settings.criteria_with_house", :surface => @url_immo.searched_space,
								:price => number_to_currency(@url_immo.searched_budget,
																		:delimiter =>'.',
																		:strip_insignificant_zeros => true,
																		:unit => "€",
																		:format => "%n %u")) %></p>
		<% else %>
      <p><%= t("search_settings.criteria", :surface => @url_immo.searched_space,
								:price => number_to_currency(@url_immo.searched_budget,
																		:delimiter =>'.',
																		:strip_insignificant_zeros => true,
																		:unit => "€",
																		:format => "%n %u"))  %></p>
		<% end %>
			<ul>
				<% @urls.each_with_index do |url, index| %>
      		<li>
						<span class="label-in"><%= t("search_settings.link_to_building",
																		:type => t("search_settings.types_buildings.#{@building_types[index]}")) %></span>
                                  <p><%= link_to content_tag(:span, t("search_settings.find_one_on_immoweb"), :class => "search-link"), url, :target => "_blank" %></p>
     			</li>
				<% end %>
			</ul>
	</div>
<% end %>
