<!-- YOU TAB -->
<div id="pane4" class="tab-pane active">


<div class="row-fluid"> 

<!-- ONE SIDE -->

<% if @project.suggested %>

  <h4><%= t("project.you_tab_intro_lead") %></h4>
  
  <div class="row-fluid">
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-eye-open icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-phone icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-pencil icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-bullhorn icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-rocket icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-envelope icon-light"></i>
</span>
<div class="row-fluid text-center">
<div class="span2">
<%= t("project.look") %><br>
<%= t("project.at_original_ad") %><br>
<%= t("project.and_building_tab") %>
</div>
<div class="span2">
<%= t("project.call") %><br>
<%= t("project.the_seller") %><br>
<%= t("project.for_visit") %>
</div>
<div class="span2">
<%= t("project.youtab_edit") %><br>
<%= t("project.to_your_taste") %>
</div>
<div class="span2">
<%= t("project.share") %><br>
<%= t("project.among_your_network") %>
</div>
<div class="span2">
<%= t("project.lead") %><br>
<%= t("project.through_meetings") %>
</div>
<div class="span2">
<%= t("project.check") %><br>
<%= t("project.mails_often") %><br>
<%= t("project.more_often") %>
</div>
</div>
</div>

<% else %>

  <% if @user.owner_of_project?(@project) %>

  <h4><%= t("project.you_tab_intro_owner") %> <%= @user.name_or_placeholder %>! </h4> 
  <p><%= t("project.you_tab_content") %></p>

    <div class="row-fluid">
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-user icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-phone icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-pencil icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-time icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-comments-alt icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-bullhorn icon-light"></i>
</span>
<div class="row-fluid text-center">
<div class="span2">
<%= t("project.complete") %><br>
<%= t("project.your_profile_to_inform") %>
</div>
<div class="span2">
<%= t("project.call") %><br>
<%= t("project.the_seller") %><br>
<%= t("project.for_visit") %>
</div>
<div class="span2">
<%= t("project.youtab_edit") %><br>
<%= t("project.to_your_taste") %>
</div>
<div class="span2">
<%= t("project.organize") %><br>
<%= t("project.the_next_event") %>
</div>
<div class="span2">
<%= t("project.discuss") %><br>
<%= t("project.with_others") %>
</div>
<div class="span2">
<%= t("project.share") %><br>
<%= t("project.among_your_network") %>
</div>

</div>
</div>
         

  <% elsif @project.has_participant?(@user) %>

  <h4><%= t("project.you_tab_intro_participant") %> <%= @user.name_or_placeholder %>!</h4>
  <p><%= t("project.you_tab_content") %></p>

<div class="row-fluid">
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-user icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-eye-open icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-time icon-light"></i>
</span>

<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-comments-alt icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-bullhorn icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-envelope icon-light"></i>
</span>
<div class="row-fluid text-center">
<div class="span2">
<%= t("project.complete") %><br>
<%= t("project.your_profile_to_inform") %>
</div>
<div class="span2">
<%= t("project.look") %><br>
<%= t("project.at_original_ad") %><br>
<%= t("project.and_building_tab") %>
</div>
<div class="span2">
<%= t("project.get_ready") %><br>
<%= t("project.for_next_event") %>
</div>
<div class="span2">
<%= t("project.discuss") %><br>
<%= t("project.with_others") %>
</div>
<div class="span2">
<%= t("project.share") %><br>
<%= t("project.among_your_network") %>
</div>
<div class="span2">
<%= t("project.check") %><br>
<%= t("project.mails_often") %><br>
<%= t("project.more_often") %>
</div>
</div>
</div>

         

  <% else %>

    <h4><%= t("project.you_tab_intro_join") %></h4>

    <div class="row-fluid text-center">
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-eye-open icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-time icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-user icon-light"></i>
</span>

<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-comments-alt icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-bullhorn icon-light"></i>
</span>
<span class="icon-stack icon-3x span2">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-envelope icon-light"></i>
</span>
<div class="row-fluid text-center">
<div class="span2">
<%= t("project.look") %><br>
<%= t("project.at_original_ad") %><br>
<%= t("project.and_building_tab") %>
</div>
<div class="span2">
<%= t("project.get_ready") %><br>
<%= t("project.for_next_event") %>
</div>
<div class="span2">
<%= t("project.complete") %><br>
<%= t("project.your_profile_to_inform") %>
</div>
<div class="span2">
<%= t("project.discuss") %><br>
<%= t("project.with_others") %>
</div>
<div class="span2">
<%= t("project.share") %><br>
<%= t("project.among_your_network") %>
</div>
<div class="span2">
<%= t("project.check") %><br>
<%= t("project.mails_often") %><br>
<%= t("project.more_often") %>
</div>
</div>
</div>
    

  <% end %>

<% end %>
</div>
<br>
<br>
</div>



