<section id="new-project">
  <%= render :partial => "_shared/profile", :locals => {:user => @user} %>

  <div id="project-wrap">
    <h2><%= t("project.define_new_project") %></h2>

    <%= form_for @project, :html => { :multipart => true } do |f| %>
      <div class="picture">
        <%= image_tag @project.picture.url(:medium) %>
        <%= f.file_field :picture %>
      </div>
      <ul class="fields">
        <li class="string">
          <%= f.label :name, t("project.what_name") %>
          <%= f.text_field :name, :placeholder => t("example_projectname") %>
        </li>
        <li class="string">
          <%= f.label :address, t("project.address_form") %>
          <%= f.text_field :address, :placeholder => t("example_adress") %>
        </li>
        <li class="string two-fields">
          <div class="field">
            <%= f.label :zipcode, t("project.zipcode") %>
            <%= f.text_field :zipcode, :placeholder => t("example_zipcode") %>
          </div>
          <div class="field">
            <%= f.label :city, t("project.city")%>
            <%= f.text_field :city, :placeholder => t("example_city") %>
          </div>
        </li>
        <li class="string">
          <%= f.label :total_amount, t("project.how_much") %>
          <%= f.text_field :total_amount, :placeholder => "570000" %>
        </li>
        <li class="string">
          <%= f.label :total_space, t("project.how_big") %>
          <%= f.text_field :total_space, :placeholder => "435" %>
        </li>
        <li class="string">
          <%= f.label :maximum_shaipz, t("project.how_many") %>
          <%= f.text_field :maximum_shaipz, :placeholder => 4 %>
        </li>
        <li class="string">
          <%= f.label :source_link, t("project.source_link") %>
          <%= f.text_field :source_link, :placeholder => "http://..." %>
        </li>
        <li class="checkbox">
          <%= f.check_box :cohousing %>
          <%= f.label :cohousing, t("project.cohousing") %>
        </li>
				<li class="string">
	        <strong><%= f.label :project_status, t("project.how_far_is_the_project") %><strong>
	        <%= f.select :project_status, @project_statuses %>
	      </li>
        <li class="text">
          <%= f.label :event, t("project.event") %>
          <%= f.text_area :event, :placeholder => t("example_text"), :rows => 5 %>
        </li>
      </ul>
      <div class="form-actions clear">
        <span class="green-button"><%= f.submit t('project.update_project') %></span>
      </div>
    <% end %>
  </div>
</section>


