<section id="new-project">
  <%= render :partial => "_shared/profile", :locals => { :user => @user } %>

  <div id="project-wrap">
    <h2><%= t("project.define_new_project") %></h2>
       <p>
						<% unless @project.source_link.nil? || @project.source_link.blank? %>
							<iframe src=<%= @project.source_link %> width='700' height='400' ></iframe>
						<% end %>
					</p>
		<% @project.errors.full_messages.each do |msg| %>
			<p><b><%= msg %></b></p>
		<% end %>

    <%= form_for @project, :html => { :multipart => true } do |f| %>

      <div class="picture">
        <%= f.file_field :picture %>
      </div>
      <ul class="fields">
				<li class="string">
          <%= f.label :source_link, t("project.source_link") %>
          <%= f.text_field :source_link %>
        </li>
        <li class="string">
          <%= f.label :name, t("project.what_name") %>
          <%= f.text_field :name %>
        </li>
        <li class="string">
          <%= f.label :address, t("project.address_form") %>
          <%= f.text_field :address %>
        </li>
        <li class="string two-fields">
          <div class="field">
            <%= f.label :zipcode, t("project.zipcode") %>
            <%= f.text_field :zipcode, :value => nil %>
          </div>
          <div class="field">
            <%= f.label :city, t("project.city") %>
            <%= f.text_field :city %>
          </div>
        </li>

        <li class="string">
          <%= f.label :total_amount, t("project.how_much") %>
          <%= f.text_field :total_amount %>
        </li>
        <li class="string">
          <%= f.label :total_space, t("project.how_big") %>
          <%= f.text_field :total_space %>
        </li>
        <li class="string">
          <%= f.label :maximum_shaipz, t("project.how_many") %>
          <%= f.text_field :maximum_shaipz %>
        </li>


        <li class="checkbox">
          <%= f.check_box :cohousing %>
          <%= f.label :cohousing, t("project.cohousing") %>
        </li>
        <li class="text">
          <%= f.label :event, t("project.event") %>
          <%= f.text_area :event, :rows => 5 %>
        </li>
				<li class="string">
	        <%= f.label :project_status, t("project.how_far_is_the_project") %>
	        <%= f.select :project_status, @project_statuses %>
	      </li>
				<% if current_user.is_loggued_with_facebook?(session) %>
				 	<li class="checkbox">
	          <%= f.check_box :share_on_facebook %>
	          <%= f.label :share_on_facebook, t("project.share_on_facebook") %>
	        </li>
				<% else %>
					<%= f.hidden_field :share_on_facebook, :value => '0' %>
				<% end %>
      </ul>
      <div class="form-actions clear">
        <span class="green-button"><%= f.submit t('project.create_project') %></span>
      </div>
    <% end %>
  </div>
</section>
