<section id="show-project">
  <%= render :partial => "_shared/profile", :locals => {:user => @user} %>
  <div id="project-wrap">
    <div class="cover">
      <%= image_tag @project.picture.url(:medium) %>
      <% if @user.owner_of_project?(@project) %>
        <div class="edit"><%= link_to t("project.edit"), edit_project_path(@project) %></div>
      <% end %>
    </div>
    <h2>
      <%= @project.name %>
      <span class="external"><%= link_to(t("project.original_ad"), @project.source_link, :target => "_blank") if @project.has_source_link? %></span>
    </h2>
    <section id="owner">
      <h3><%= t("project.about_owner") %></h3>
      <div class="owner-profile">
        <div class="picture">
          <%= image_tag @owner.picture.url(:thumb) %>
        </div>
        <h4><%= link_to @owner.name, user_path(@owner) %></h4>
        <div class="status"><%= t("statuses.#{@owner.personal_status}") if @owner.has_personal_status? %></div>
      </div>
    </section>

    <section id="details">
			<div class="project-status">
		    <div class="progress <%= @project.project_status.dasherize if @project.has_project_status? %>"></div>
		  </div>
			<p class="status"><%= t("project.statuses.#{@project.project_status}") if @project.has_project_status? %></p>

      <div class="criteria">
        <span class="amount"><%= number_to_currency(@project.price_per_shaipz, :delimiter =>'.', :strip_insignificant_zeros => true, :unit => "€", :format => "%n %u") %> </span>
        <span class="space"><%= @project.space_per_shaipz %> m&sup2;</span>
        <span class="shaipz"><%= @project.maximum_shaipz %></span>
      </div>
			<div class="description">
				<p><%= t(:"project.description_shaipz", :total_amount => number_to_currency(@project.total_amount, :delimiter =>'.', :strip_insignificant_zeros => true, :unit => "€", :format => "%n %u") , :total_space => @project.total_space) %><p>
			</div>

			<div class="address">
        <h3><%= t("project.address") %></h3>
        <p><%= @project.full_address %></p>
      </div>

      <div class="event">
        <h3><%= t("project.next_event") %></h3>
        <p><%= @project.event %></p>
      </div>

    </section>

    <section id="participants">
      <h3><%= t("project.participants") %></h3>
      <% unless @project.has_participant_or_owner?(@user) %>
        <div id="participation">
          <%= form_for "participation", :url => participations_path do |f| %>
            <%= f.hidden_field :project_id, :value => @project.id %>
						<% if current_user.is_loggued_with_facebook?(session) %>
			          <%= f.check_box :share_on_facebook, {checked: true} %>
			          <%= f.label :share_on_facebook, t("participation.share_on_facebook") %>
						<% else %>
							<%= f.hidden_field :share_on_facebook, :value => '0' %>
						<% end %>
            <div class="join-action">
              <%= f.submit t("project.join_project") %>
            </div>
          <% end %>
        </div>
		<% else %>
		<div class="position">
      <span>#<%= @project.priority_order_for_participant(@user) %></span>
      <%= t("project.in_project") %>
    </div>
		  <% if current_user.id == @project.owner.id%>

	        <div class="leave-button">
	          <%= button_to t("project.destroy"), participation_path(@project), :method => 'delete', :onclick => "return confirm('"+ t("project.destroy_confirmation") +"')" %>
	         </div>

	       <%else %>
	         <div class="leave-button">
	            <%= button_to t("participation.destroy"), participation_path(@project), :method => 'delete', :onclick => "return confirm('"+ t("participation.destroy_confirmation") +"')" %>
	         </div>
	       <%end%>
      <% end %>
      <ol>
        <% @participants.each do |p| %>
          <li>
            <%= link_to image_tag(p.picture.url(:thumb)), user_path(p) %>
            <%= link_to p.name, user_path(p) %>
          </li>
        <% end %>
      </ol>

    </section>
	<div class= "report">
	  <%= link_to 'Report', new_project_report_path(@project) %>
	</div>
  </div>
</section>
