<div class="container-fluid-project">
  
  <!-- title -->
      <div class="howitworks-header page-header">
        <div class="row-fluid">
          <div class="span7 project-name">
            <h1><%= @project.name %>
              <% if @project.cohousing? %>
              <%= image_tag ("cohousing.png"), {:title => t("project.logo_cohousing")} %>
              <% end %>
            
            <% if @user.owner_of_project?(@project) %>
          
  <small>
    <%= link_to edit_project_path(@project), :target => "_blank" do %>
      <i class="icon-edit"></i></small>
    <% end %>
 
  
  <% end %></h1>
          
          </div>
          <div class="span5 text-right">

            <%= render "calltoaction" %>

          </div>
        </div>
        
          
       
      </div>

  <div class="row-fluid">
    <!-- left -->
    <div class="span4">
      <%= render "conversation" %>
    </div>
    
    <!-- right -->
    <div class="span8"> 
      <div class="span12">
          <!-- building part -->
          <%= render 'building' %>
      </div>
      
      
        <%= render 'event' %>
      
    </div>


         <!-- <%= render 'project-status' %>

        <p class="lead text-center"><%= t("project.your_next_event") %></p>
        
        <div class="hero-unit next-event text-center">
          <div class="row-fluid">
            <% if @project.coming_event %>
              <div class="span2">

                <i class="icon-bell-alt icon-4x pull-right"></i>
              </div>
              <div class="span9">

                <h2><%= @project.event_type %></h2>
                <h4><%= @project.event_date.strftime('%A %d/%m - %H:%M') %></h4> 
              </div>
            <% else %>
              <h4><%= t("project.eventtab_missing_next") %></h4>
              <h2><%= t("project.eventtab_organize_next") %></h2>
            <% end %>
          </div>
        </div>

        <% if @project.has_event_description? %>
        <p class="lead text-center"><%= t("project.additional_info") %></p>
        <div class="hero-unit details-event">
          <p><%= @project.event_description %></p>
        </div>
        <% end %>
      </div>
      </div> -->


    </div>




        
        
    </div>
    </div>
  </div>























 
  


 
<script>
$(function ()
{ $(".reduction").tooltip();
    html: true;
});
$(function ()
{ $(".facebook_boost").tooltip();
    html: true;
});
$(function ()
{ $(".p-status").popover();
    html: true;

});
jQuery(document).ready(function($) {
    $('#leave-comment').modal("show")
});
</script>

<script type="text/javascript">
    $(document).ready (function(){
      $("#disqus_module").hide();
        $("#view-disqus").click(function(){
          $("#disqus_module").slideDown("active");   
        });
      });

    $(document).ready (function(){
      
        $(".wait").click(function(){
          $("#Spinner").modal("show");   
        });
      });

</script>

<div id="Spinner" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="text-center">
    <i class="icon-spinner icon-spin icon-4x"></i>
    <h1><%= t("wait") %></h1>
  </div>
</div>

<!-- <% if @project.has_participant?(@user) %>
<div id="leave-comment" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="text-center">
    <i class="icon-comment icon-4x"></i> Leave a comment, <%= @user.name_or_placeholder %> !
    <br><%= render_comments_form @project %>
  </div>
</div>
<% end %> -->










