<% reply = defined?(reply) ? reply : false %>
<div id="comment_<%= comment.id %>">
	

      <%= link_to(image_tag(comment.owner.picture.url(:thumb), :class => 'img-rounded'), user_path(comment.owner)) %>
          <small><%= link_to truncate(comment.owner.name_or_placeholder, :length => 50), user_path(comment.owner) %></small>
    
    <div class="bubble comment">
      <div class="row-fluid">
        <div class="span11">
          <%= simple_format(comment.body) %>
        </div>
    		
        <div class="span1">
          <% if comment.owner == send(Opinio.current_user_method) %>
          <div class="text-right"><small><b><%= link_to "x", comment_path(comment), :method => "delete", :remote => true %></b></small></div>
          <% end %> 
        </div>
      </div>
			
    </div>
   
  
</div>
  
  
  
  

