<% reply = defined?(reply) ? reply : false %>

<div id="comment_<%= comment.id %>">

<div class="row-fluid span11 hero-unit comment">
	<div class="span1">
    <%= link_to(image_tag(comment.owner.picture.url(:thumb), :class => 'img-rounded'), user_path(comment.owner)) %>
  </div>
  <div class="span10">
    <small><%= link_to comment.owner.name_or_placeholder, user_path(comment.owner) %></small>
    <%= simple_format(comment.body) %>
  </div>
</div>


<!--
<%= link_to t('opinio.actions.delete'), comment_path(comment), :method => :delete, :remote => true %></li>
  <%# this enables only 1 level of replies %>
  <% if Opinio.accept_replies && !reply %>
    <span><%= link_to t('opinio.actions.reply'), reply_comment_path(comment), :remote => true %></span>
    <ul id="comment_<%= comment.id %>_replies" class="replies">
      <%= render :partial => "opinio/comments/comment", :collection => comment.comments, :locals => {:reply => true} %>
    </ul>
  <% end %>
-->

