<div id="new_comment">
  <% if send(Opinio.current_user_method) %>
    
    <%= form_for Comment.new, :remote => false do |f| %>
    <div class="row-fluid">
      <div class="span1">
      <%= link_to(image_tag(@user.picture.url(:thumb), :class => 'img-rounded'), user_path(@user)) %>
    </div>
      <div class="span11">
      <%= f.text_area :body, :type => "text", "data-provide" => "typeahead", :placeholder => "What's on your mind, #{@user.name_or_placeholder}?" %>
      
      <%= hidden_field_tag :commentable_id, commentable.id %>
      <%= hidden_field_tag :commentable_type, commentable.class.base_class.name.to_s %>
    </div>
      <div class="span2 offset9">
      <%= f.submit 'Say it!', :class => 'btn btn-block' %>
    </div>
  </div>
    <% end %>
  <% else %>
    <p>
      <%= t('opinio.messages.must_be_logged_in_to_comment') %>
    </p>
  <% end %>
</div>
