
<div class="container">

<!-- page title -->
  <div class="howitworks-header page-header">
    <h1><%= t("about.header") %></h1>
  </div>

<!-- content -->
  <script type="text/javascript">
      $(document).ready (function(){
        $("#about-story-content").hide();
        $("#about-team-content").hide();
        $("#about-press-content").hide();
	        $("#about-shaipz").click(function(){
	          $("#about-shaipz-content").slideDown("active");
	          $("#about-story-content").hide();
              $("#about-team-content").hide();
              $("#about-press-content").hide();
	        });  
	        $("#about-story").click(function(){
	          $("#about-story-content").slideDown("active");
	          $("#about-shaipz-content").hide();
              $("#about-team-content").hide();
              $("#about-press-content").hide();
	        });
	        $("#about-team").click(function(){
	          $("#about-team-content").slideDown("active");
	          $("#about-shaipz-content").hide();
              $("#about-story-content").hide();
              $("#about-press-content").hide();
	        });  
	        $("#about-press").click(function(){
	          $("#about-press-content").slideDown("active");
	          $("#about-shaipz-content").hide();
              $("#about-team-content").hide();
              $("#about-story-content").hide();
	        });      
      });
    </script>

  <div class="container-fluid">
    <div class="row-fluid">
      <!-- left side -->
      <div class="other-questions span4">

	    <p id="other-questions-title"><%= t("how.questions") %></p>
	    <p class="lead"><%= t("how.ask_questions") %></p>
	    <p>via twitter: <%= link_to "@shaipzapp", "http://twitter.com/shaipzapp", :target => "_blank" %> 
	    <p>via email: <%= link_to "hello@shaipz.com", "mailto:hello@shaipz.com", :target => "_blank" %>	
	    <p>via facebook: <%= link_to "facebook.com/shaipz", "http://facebook.com/shaipz", :target => "_blank" %>

<br>
<br>
<br>
<br>



	    
	    <p id="other-questions-title"><%= t("about.they_talk") %></p>
	    <p><%= link_to "Les Lumières du Soir ont leur lauréate", "http://www.lesoir.be/106105/article/economie/2012-10-24/lumi%C3%A8res-du-soir-ont-leur-%C2%AB-laur%C3%A9ate-%C2%BB", :target => "_blank" %> 
	    	<br><small>Le Soir</small></p>
	    	
	    <p><%= link_to "Reportage Lumières du Soir", "http://vimeo.com/56326201", :target => "_blank" %>
	    	<br><small>Peignoir & Panda</small></p>
	    	
	    <p><%= link_to "Achetez un bien tous ensemble grâce à Shaipz", "http://www.lesoir.be/115360/article/economie/immo/2012-11-07/acheter-un-bien-tous-ensemble-gr%C3%A2ce-%C3%A0-shaipz", :target => "_blank" %>
	    	<br><small>Le Soir Immobilier</small></p>
	    	
	    <p><%= link_to "Qui sera la prochaine Zuckerberg (en plus sexy)?", "http://knowmovenjoy.wordpress.com/tag/startup/", :target => "_blank" %>
	    	<br><small>Know Move Enjoy</small></p>
	    	
	    <p><%= link_to "Shaipz, entre site de rencontre et d'immobilier", "http://www.alterechos.be/index.php?as%5Bex_ids%5D=&p=search&c=a&d=l&lpn=0&as%5Basearch%5D=shaipz&as%5Bmode%5D=title_head_body&as%5Bfm%5D=4&as%5Bfy%5D=2012&as%5Btm%5D=4&as%5Bty%5D=2013&Rechercher=Rechercher", :target => "_blank" %>
	    	<br><small>Alter Echos</small></p>
	    	
	
	  </div>


      
      
	

<!-- EXTENDED VERSION OF ABOUT PAGE RIGHT SIDE
	<div class="faq span8">
        <div class="row-fluid">

		  	<ul class="nav nav-pills text-center lead span10 offset1">
	          <li><a href="#" id="about-shaipz">Shaipz</a></li>
	          <li><a href="#" id="about-story">story</a></li>
	          <li><a href="#" id="about-team">team</a></li>
	          <li><a href="#" id="about-press">press</a></li>
	        </ul>
        </div>

		<div class="about-content">
			<div id="about-shaipz-content">
				<p>Shaipz is a bla bla bla </p>
				<i>sans lequel bla bla bla </i>
			</div>
  
            <div id="about-story-content">
            	Story
            </div>
            
            <div id="about-team-content">
            	team
            </div> 
            
            <div id="about-press-content"> -->

    
	<!-- right side -->
	  <div class="faq span8">
        <div class="row-fluid">
		  	<ul class="nav nav-pills text-center lead span8 offset2">
	          <li><a href="#" id="about-shaipz"><%= t("about.shaipz.tab") %></a></li>
	          <li><a href="#" id="about-press"><%= t("about.press.tab") %></a></li>
	        </ul>
        </div>
           
		<div class="about-content">
			<div id="about-shaipz-content">
				<h3>Shaipz</h3>
				
				<p><%= t("about.shaipz.content1") %><b><%= t("about.shaipz.content1bis") %></b><%= t("about.shaipz.content1ter") %><b><%= t("about.shaipz.content1quater") %></b><%= t("about.shaipz.content1quinte") %><b><%= t("about.shaipz.content1infine") %></b></p>

				<p><%= t("about.shaipz.content2") %>
					
				<ul>
					<li><b><%= t("about.shaipz.content3") %></b><%= t("about.shaipz.content3bis") %></li>
					<li><b><%= t("about.shaipz.content4") %></b><%= t("about.shaipz.content4bis") %></li>
					<li><b><%= t("about.shaipz.content5") %></b><%= t("about.shaipz.content5bis") %></li>
					<li><%= t("about.shaipz.content6") %><b><%= t("about.shaipz.content6bis") %></b></li>
				</ul> </p>

				<br>
				<ul class="nav nav-list">
  					<li class="divider"></li>
				</ul>

				<h3>Vision</h3>

				<p class="lead"><b><i><%= t("about.shaipz.vision_title1") %></i></b></p>
				<p><%= t("about.shaipz.vision_content1") %> <i><%= t("about.shaipz.vision_content2") %></i><%= t("about.shaipz.vision_content3") %>
				<p> <%= t("about.shaipz.vision_content4") %><b><%= t("about.shaipz.vision_content4bis") %></b>  </p>
				<p> <%= t("about.shaipz.vision_content5") %> </p>
				<br>

				<p class="lead"><b><%= t("about.shaipz.vision_title2") %></b></p>
				<p><%= t("about.shaipz.vision_content6") %>
					<br> <%= t("about.shaipz.vision_content7") %>
					<br> <%= t("about.shaipz.vision_content8") %>
				</p>
				<p> <%= t("about.shaipz.vision_content9") %>
					<br><%= t("about.shaipz.vision_content10") %></p>
				<p> <%= t("about.shaipz.vision_content11") %><b><%= t("about.shaipz.vision_content11bis") %></b><%= t("about.shaipz.vision_content11ter") %><b><%= t("about.shaipz.vision_content11quater") %></b>
				</p>
				<br>

				<p class="lead"><b><%= t("about.shaipz.vision_title3") %></b></p>
				<p> <%= t("about.shaipz.vision_content12") %>
					<br><%= t("about.shaipz.vision_content13") %>
					<br><%= t("about.shaipz.vision_content14") %>
				</p>
				<p><%= t("about.shaipz.vision_content15") %><b><%= t("about.shaipz.vision_content15bis") %></b><%= t("about.shaipz.vision_content15ter") %></p>
				<p><%= t("about.shaipz.vision_content16") %></p>





				<!-- <ul class="nav nav-list">
  					<li class="divider"></li>
				</ul>

				<h3>Genèse</h3>
				<p>sans lequel bla bla bla </p> -->

			</div>

			<div id="about-press-content">
            
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
				<form action="http://facebook.us4.list-manage.com/subscribe/post?u=72883b765aeb3ec6b84ce8313&amp;id=c142212695" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				
				<h3><%= t("about.press.journalist") %></h3>
				<!-- <p><i>Votre press kit Shaipz vous attend</i> ici.</p> -->
				<p class="lead"><%= t("about.press.subscribe_call") %></p>
				
				<div class="mc-field-group">
					<label for="mce-EMAIL" class="span12">Email  <span class="asterisk">*</span></label>
					<input type="email" value="" name="EMAIL" class="required email input-xlarge" id="mce-EMAIL">
				</div>
				
				<div class="row-fluid">
					<div class="mc-field-group span6">
						<label for="mce-FNAME"><%= t("about.press.first_name") %>  <span class="asterisk">*</span></label>
						<input type="text" value="" name="FNAME" class="required input-xlarge" id="mce-FNAME">
					</div>
					
					<div class="mc-field-group span6">
						<label for="mce-LNAME"><%= t("about.press.last_name") %> <span class="asterisk">*</span></label>
						<input type="text" value="" name="LNAME" class="required input-xlarge" id="mce-LNAME">
					</div>
				</div>
				
				<div class="row-fluid">
					<div class="mc-field-group span6">
						<label for="mce-MMERGE3"><%= t("about.press.title") %>  <span class="asterisk">*</span></label>
						<input type="text" value="" name="MMERGE3" class="required input-xlarge" id="mce-MMERGE3">
					</div>
					
					<div class="mc-field-group span6">
						<label for="mce-MMERGE4"><%= t("about.press.organisation") %>  <span class="asterisk">*</span></label>
						<input type="text" value="" name="MMERGE4" class="required input-xlarge" id="mce-MMERGE4">
					</div>
				</div>
				
				
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>	

				<div class="clear"><input type="submit" value="<%= t("about.press.subscribe_button") %>" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info btn-large btn-block"></div>
				
				</form>
				</div>

				<!--End mc_embed_signup-->
            </div>
        </div>
    </div>

		</div>
			

		  
    </div>
  </div>
</div>


</diV>


</div>
