.page-header
  %h1
    Edit
    %small= @user.email
    = image_tag @user.picture.url(:thumb)
  %h2= @user.fellows.count
  fellows
  %h2= @user.perfect_fellows.count
  perfect fellows

= form_for [:admin, @user], :html => { :multipart => true, :class => 'form-horizontal' } do |f|
  = render :partial => 'form', :locals => { :f => f }

  .form-actions
    = f.submit "Update", :class => 'btn btn-primary'
    = link_to "Cancel", admin_users_path, :class => 'btn'
    = button_to "Destroy", admin_users_path, :method => 'delete', :confirm => "are you sure?", :class => 'btn btn-danger'
