.page-header
  %h1 Users
  There are currently
  %span
    %b= @users.count 
  registered users, among which
  %span
    %b= @users.active.count
  are active

.btn-group
  = link_to "Export to CSV", admin_users_path(:format => :csv), :class => 'btn btn-info'

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Name
      %th Email
      %th Joined via
      %th Joined shaipz on
      %th Confirmation delay
      %th Sign in count
      %th Current sign in
      %th Last sign in
      %th Favorite areas
      %th Maximum budget
      %th Hidden budget
      %th Minimum space
      %th Purpose
      %th Cohousing
      %th Readiness
      %th Availabilities
      %th Skill
      %th Role
      %th Remembered at
      %th Password reset
      %th Current sign in IP
      %th Last sign in IP
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.email
        %td
          %span.label.label-info= user.registration_method
        %td= l(user.created_at, :format => :short)
        %td= user.confirmed? ? distance_of_time_in_words(user.created_at, user.confirmed_at) : :never
        %td
          %span.badge= user.sign_in_count
        %td= l(user.current_sign_in_at, :format => :short) if user.signed_in?
        %td= l(user.last_sign_in_at, :format => :short) if user.signed_in_before?
        %td= user.favorite_areas
        %td= user.maximum_budget
        %td= user.hide_budget ? :yes : :no
        %td= user.minimum_space
        %th= user.rationale
        %th= user.cohousing ? :yes : :no
        %td= user.personal_status
        %td= user.personal_timing
        %th= user.skill
        %th= user.role
        %td= user.remembered? ? l(user.remember_created_at, :format => :short) : :never
        %td= user.has_reset_password? ? :yes : :no
        %td= user.current_sign_in_ip
        %td= user.last_sign_in_ip
        %td
          = link_to edit_admin_user_path(user), :class => 'btn btn-small' do
            %i.icon-pencil
            Edit


