<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="container container-fluid-profile">
 
  <div class="howitworks-header page-header">
   
    <div class="row-fluid">
     
      <div class="span9 project-name">
        <h1>Invite your friends</h1>
      </div>
     
      <div class="span3 text-right edit-project">
           <div class="btn"><i class="icon-info-sign icon"></i><%= link_to " help", "mailto:hello@Shaipz.com" %></div>
      </div>

    </div>

  </div> <!-- end of header -->


  
 
 
  	<p class="lead"><%= t("friend_invitation.title") %></p>
		<p><%= t("friend_invitation.subtitle") %> <%= link_to t("share"), "https://www.facebook.com/dialog/feed?app_id=#{FACEBOOK_APP_ID}&link=http://shaipz.com&name=Shaipz,%20collaborative%20home%20buying&caption=Shaipz.com&description=" + t("friend_invitation.description_facebook") + "&redirect_uri=" + user_url(current_user) +
          "&picture=http://shaipz.com/assets/shaipz_logo.jpeg" %> <%= t("friend_invitation.subtitle_middle") %> <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://shaipz.com" data-text="I've just joined #Shaipz, a new way to get my dream home and neighbours! Join Shaipz for free now" data-via="shaipzapp" data-lang="en" data-count="none"> Tweet </a> <%= t("friend_invitation.subtitle_end") %> </p>

	<%= form_tag("/friend_invitations", :method => "post") do %>
			
		
		<% @friends.each_with_index do |friend, index| %>
			<div class="row-fluid">
        		<div class="string span4">
          			<%= label_tag(index, t("friend_invitation.friend", :id => index.succ)) %>
          			<%= text_field_tag t("friend_invitation.friend", :id => index), nil, :id => 'friends_#{index}_email', :name => "friends[#{index}][email]"%>
        		</div>	

		<% end %>
		</div>
			
		<div class="text invite-text">
			<%= label_tag( t("friend_invitation.your_message")) %>
			<%= text_area_tag(:message, t("friend_invitation.mail_content", :user => current_user.name), :size => '50x10') %>
		</div>
			
		
		<div class="form-actions clear span6 offset2">
	      	<%= submit_tag(t("friend_invitation.submit"), :class => "btn btn-large btn-block btn-success") %>
			<div class="report text-center">
					<%= link_to t("friend_invitation.back_to_profile"), user_path(@user) %>
			 </div>
	    </div>
	<% end %>
  </div>
</section>
