<!DOCTYPE html>
<html>
<head>
  <title>Shaipz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="top-bar">
    <div class="wrap">
      <% if user_signed_in? %>
        <nav id="menu">
          <ul>
            <li>
              <%= link_to(t("menu.profile"), edit_user_path(current_user)) %>
            </li>
            <li>
              <%= link_to(t("menu.sign_out"), destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>
        </nav>
      <% else %>
        <div id="sign-in">
          <%= form_for("user", :url => user_session_path) do |f| %>
            <div class="fields">
              <%= f.email_field :email, :placeholder => t("sign_in.email") %>
              <%= f.password_field :password, :placeholder => t("sign_in.password") %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <div class="form-actions">
              <span class="button"><%= f.submit t("sign_in.sign_in") %></span>
              <%= link_to t("sign_in.forgot_your_password"), new_password_path('user') %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

  <header>
    <div class="wrap">
      <h1 class="logo">Shaipz</h1>
      <p class="tagline">Collaborative home buying</p>

      <section id="flash">
        <% if notice %>
          <div class="message notice"><%= notice %></div>
        <% end %>

        <% if alert %>
          <div class="message alert"><%= alert %></div>
        <% end %>
      </section>
    </div>
  </header>

  <section id="content">
    <%= yield %>
  </section>

  <footer>
    <div class="wrap">
      <h1 class="logo">Shaipz</h1>
      <p class="tagline">Collaborative home buying</p>
    </div>
  </footer>
</body>
</html>
