<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>Shaipz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '268091083289955',
	      channelUrl : 'http://shaipz.com',
	      status     : true,
	      cookie     : true,
	      xfbml      : true
	    });
	  };

	  // Load the SDK Asynchronously
	  (function(d){
	     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     ref.parentNode.insertBefore(js, ref);
	   }(document));
	</script>
  <section id="top-bar">
    <div class="wrap">
      <% if user_signed_in? %>
        <nav id="menu">
          <ul>
            <li>
              <%= link_to(t("menu.home"), root_url) %>
            </li>
            <li>
              <%= link_to(t("menu.profile"), user_path(current_user)) %>
            </li>
						<li>
              <%= link_to(t("menu.shaipz"), shaipz_path) %>
            </li>
            <li>
              <%= link_to(t("menu.sign_out"), destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>
        </nav>
				<nav id="social-logo">
					<nav class="wrap">
					<ul>
						<li>
							<div class="links">
								<%= link_to t('footer.how_it_works'), how_it_works_path %>
							</div>
						</li>

						<li>
	            <%= link_to image_tag("facebook-logo-white.png", :size => "25x25"), "http://facebook.com/shaipz", :target => "_blank" %>
	          </li>

            <li>
	            <%= link_to image_tag("twitter-logo-white.png", :size => "25x25"), "http://twitter.com/shaipzapp", :target => "_blank" %>
	          </li>

						<li>
	            <%= link_to image_tag("contact-logo-white.png", :size => "25x25"), "mailto:hello@shaipz.com", :target => "_blank" %>
	          </li>
					</ul>
					</nav>
				</nav>
      <% else %>
        <div id="sign-in">
					<div class="wrap">
          	<%= form_for("user", :url => user_session_path) do |f| %>
            	<div class="fields">
              	<%= f.email_field :email, :placeholder => t("sign_in.email") %>
              	<%= f.password_field :password, :placeholder => t("sign_in.password") %>
              	<%= f.check_box :remember_me %>
              	<%= f.label :remember_me %>
            	</div>

            	<div class="form-actions">
              	<span class="button"><%= f.submit t("sign_in.sign_in") %></span>
              	<%= link_to t("sign_in.forgot_your_password"), new_password_path('user') %>
							</div>

							<div class="facebook-button">
								<%= link_to  image_tag("facebook_login_logo.png", :size => "150x20"), user_omniauth_authorize_path(:facebook) %>
							</div>
						</div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

  <header>
    <div class="wrap">
      <h1 class="logo">
        <%= link_to "Shaipz", root_url %>
        <em>beta</em>
      </h1>
      <p class="tagline">Collaborative home buying</p>

      <section id="flash">
        <% if notice %>
          <div class="message notice"><%= notice %></div>
        <% end %>

        <% if alert %>
          <div class="message alert"><%= alert %></div>
        <% end %>
      </section>
    </div>
  </header>

  <section id="content">
    <%= yield %>
  </section>

  <footer>
    <div class="wrap">
      <h1 class="logo">Shaipz</h1>
      <p class="tagline">Collaborative home buying</p>
      <p class="browser"><%= t("footer.browser_support") %></p>
      <nav>
        <ul>
					<li>
						<div class="links">
            	<%= link_to t('footer.how_it_works'), how_it_works_path %>
						</div>
          </li>
					<li></li>
					<li>
						<div class="links">
            	<%= link_to t("footer.terms_of_use"), asset_path("ShaipzTerms-v20120706.pdf"), :target => "_blank" %>
						</div>
          </li>
					<li>
            <%= link_to image_tag("facebook-logo.png", :size => "25x25"), "http://facebook.com/shaipz", :target => "_blank" %>
          </li>
					<li>
            <%= link_to image_tag("twitter-logo.png", :size => "25x25"), "http://twitter.com/shaipzapp", :target => "_blank" %>
          </li>
					<li>
            <%= link_to image_tag("contact-logo.png", :size => "25x25"), "mailto:hello@shaipz.com", :target => "_blank" %>
          </li>
        </ul>
      </nav>
    </div>
  </footer>

	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31837662-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
