<!-- Header with background -->
<header>
  <section id="flash">
    <div class="span12">
      <% if @user.errors.any? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h3><%= t("activerecord.errors.title") %></h3>
        <% @user.errors.full_messages.each do |msg| %>
          <i><%= msg %></i> | 
        <% end %>
      <% end %>
      </div>
    </div>
  </section>
</header>

<div class="row-fluid">
  <div class="span12">      
    <div id="signin">

      <div class="row-fluid">
        <div class="span8 offset2">
          <div id="tagline" class="text-center"><p>A smart way to buy your home</p></div> 
        </div>
      </div>
       
      <div class="row-fluid">
        <div class="hero-unit signinbloc span5 offset5">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <center>
          <p><%= link_to  image_tag("connect_using_facebook_xlarge.png"), user_omniauth_authorize_path(:facebook) %></p>
          <p><i><b><%= t("home.or_fill_in_form") %></b></i></p>
        </center>

<div class="row-fluid">
        <div class="span6">

          

    <ul class="fields">
      
       
      
      <li class="string">
        <%= f.label :email %>
        <%= f.email_field :email, :placeholder => t("example_email") %>
      </li>
      <li class="string">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>
      <li class="checkbox">
        <%= f.check_box :cohousing %>
        <%= f.label :cohousing,  t("profile.cohousing") %>
      </li>

    </ul>
     </div>
     <div class="span6">
    <ul class="fields">
      <li class="string">
        <%= f.label :favorite_areas, t("profile.favorite_areas_form") %>
        <%= f.text_field :favorite_areas, :placeholder => "1030, 1050, 2040, 7850, 3000" %>
      </li>
      <li class="string">
        <%= f.label :minimum_space, t("profile.minimum_space_form") %>
        <%= f.text_field :minimum_space, :placeholder => "70" %>
      </li>
      <li class="string">
        <%= f.label :maximum_budget, t("profile.maximum_budget_form") %>
        <%= f.text_field :maximum_budget, :placeholder => "150000" %>
      </li>
    </ul>
  </div>
</div>
    
        <div class="form-actions">
          <%= f.submit t('home.sign_up'), :class => "btn btn-large btn-block btn-info" %>
        </div>

        <% end %>

        <div class="devise-links"><%= render "devise/shared/links" %></div>
        
        </div> <!-- end hero-unit -->
      </div> <!-- end row-fluid -->

    </div> <!-- end signin -->
  </div> <!-- end span12 -->
</div> <!-- end whole form, tagline and background -->
